.seeyousoon{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10rem;
    font-size:xx-large;
}

.ticketpricing{
    background-color: #808080;

}

.reserve{
    background-color: #8F0000;
  

}

.reservenow{
    color: white;
}

.featuredevent{

    background-color: black;
    color: white;
}

.shopmerch{
    text-align: center;
    padding: 8rem;
    font-size: 300%;
   
}

.store{
    background-color: black;
  color:white;
  text-align: center;
  padding: 5rem;
  font-size: 300%;



}

.missionmain{
    background-color:white;
}

.ourmission{
    text-align: center;
    font-size: 350%;
    padding-left: 50rem;
    padding-top: 10rem;

}

.mission{
    text-align: center;
 
    padding-left: 50rem;
    padding-bottom: 20rem;
    font-size: 200%;
    line-height:200% ;
}

footer{
    background-color: #808080;
}

.contact{
    background-color:#8F0000 ;
}

.conractform{

    background-color: #808080;
}